NET SPI_MOSI  LOC = P71  ;
NET SPI_CS    LOC = P70  ;
NET SPI_CLK   LOC = P72  ;
NET SPI_MISO  LOC = P69  ;
#NET CLK_10MHz LOC = P130  ;
NET EXT_SYNC  LOC = P82  ;
NET FPGA_INT  LOC = P78  ;
NET CH2_IN    LOC = P132 ;
NET CH1_IN    LOC = P127 ;
NET CH1_ACDC  LOC = P111 ;
NET CH2_ACDC  LOC = P3   ;
NET CH2_BIAS  LOC = P11  ;
NET CH1_BIAS  LOC = P125 ;
NET FPGA_OUT4 LOC = P46  ;
NET FPGA_OUT3 LOC = P30  ;
NET FPGA_OUT2 LOC = P141 ;
NET FPGA_OUT1 LOC = P124 ;
NET LED1_1    LOC = P110 ;
NET LED1_2    LOC = P113 ;
NET LED1_3    LOC = P112 ;
NET LED2_1    LOC = P114 ;
NET LED2_2    LOC = P121 ;
NET LED2_3    LOC = P116 ;
NET LED3_1    LOC = P129 ;
NET LED3_2    LOC = P142 ;
NET LED3_3    LOC = P139 ;
NET LED4_1    LOC = P4   ;
NET LED4_2    LOC = P6   ;
NET LED4_3    LOC = P5   ;
NET LED5_1    LOC = P7   ;
NET LED5_2    LOC = P10  ;
NET LED5_3    LOC = P8   ;
NET LED6_1    LOC = P31  ;
NET LED6_2    LOC = P47  ;
NET LED6_3    LOC = P32  ;
NET SYNC2_IN  LOC = P103 ;
NET SYNC4_IN  LOC = P105 ;
NET SYNC3_IN  LOC = P101 ;
NET SYNC2_OUT LOC = P102 ;
NET SYNC4_OUT LOC = P104 ;
NET SYNC3_OUT LOC = P99  ;
#Created by Constraints Editor (xc3s50an-tqg144-5) - 2013/12/09
NET "CLK_10MHz" TNM_NET = CLK_10MHz;
TIMESPEC TS_CLK_10MHz = PERIOD "CLK_10MHz" 100 ns HIGH 50%;

NET CLK_10MHz LOC = P60  ;
PIN "clk_man_inst/DCM_SP_INST.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
